pico-go.json
.vscode/
build/
Pico Color Sensor PCB V2/Pico Color Sensor PCB V2-backups
Pico Color Sensor PCB V2.1/Pico Color Sensor PCB V2_1-backups
Pico Color Sensor PCB V2.5/Pico Color Sensor PCB V2_5-backups